package {{ base_package }}.security;

import {{ base_package }}.repository.UserRepository;
import lombok.RequiredArgsConstructor;
import org.springframework.security.core.userdetails.UserDetails;
import org.springframework.security.core.userdetails.UserDetailsService;
import org.springframework.security.core.userdetails.UsernameNotFoundException;
import org.springframework.stereotype.Service;

@Service
{% if pom_features.has_lombok %}
@RequiredArgsConstructor
{% endif %}
public class UserDetailsServiceImpl implements UserDetailsService {

    private final UserRepository userRepository;

{% if not pom_features.has_lombok %}
    public UserDetailsServiceImpl(UserRepository userRepository) {
        this.userRepository = userRepository;
    }
{% endif %}

    @Override
    public UserDetails loadUserByUsername(String username) throws UsernameNotFoundException {
        return userRepository.findBy{{ username_field_capitalized }}(username)
                .orElseThrow(() -> new UsernameNotFoundException("User not found with identifier: " + username));
    }
}
