package {{ base_package }}.security;

import {{ base_package }}.repository.{{ user_repository }};
import lombok.RequiredArgsConstructor;
import org.springframework.security.core.userdetails.UserDetails;
import org.springframework.security.core.userdetails.UserDetailsService;
import org.springframework.security.core.userdetails.UsernameNotFoundException;
import org.springframework.stereotype.Service;

@Service
{% if pom_features.has_lombok %}
@RequiredArgsConstructor
{% endif %}
public class UserDetailsServiceImpl implements UserDetailsService {

    private final {{ user_repository }} {{ user_repo_var }};

{% if not pom_features.has_lombok %}
    public UserDetailsServiceImpl({{ user_repository }} {{ user_repo_var }}) {
        this.{{ user_repo_var }} = {{ user_repo_var }};
    }
{% endif %}

    @Override
    public UserDetails loadUserByUsername(String username) throws UsernameNotFoundException {
        return {{ user_repo_var }}.findBy{{ username_field_capitalized }}(username)
                .orElseThrow(() -> new UsernameNotFoundException("User not found with identifier: " + username));
    }
}
