package {{ base_package }}.repository;

import {{ base_package }}.models.entity.{{ entity_name }};
{% for field in fields %}
    {% if field.is_enum %}
import {{ base_package }}.models.enum.{{ field.java_type }};
    {% endif %}
{% endfor %}
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

import java.util.List;

@Repository
public interface {{ entity_name }}Repository extends JpaRepository<{{ entity_name }}, Long> {

    // ── Requêtes générées automatiquement par Spring Data ───────────────────
{% for field in fields %}
    List<{{ entity_name }}> findBy{{ field.capitalized }}({{ field.java_type }} {{ field.name }});
{% endfor %}

}
